<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PLEASE READ: If you want the photos that you take with this app saved to your camera roll, then allow access. If you don&apos;t, touch &quot;Don&apos;t Allow&quot;.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LaneChange</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To send a report you need to take a photo of what you are reporting.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PLEASE READ: Your location must be added to the report for it to be usable. If you don&apos;t allow the app access to your location then you must manually enter the location of the photo. The app only accesses your location at the moment you take a photo for a report.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PLEASE READ: Your location must be added to the report for it to be usable. If you don&apos;t allow the app access to your location then you must manually enter the location of the photo. The app only accesses your location at the moment you take a photo for a report.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>PLEASE READ: Your location must be added to the report for it to be usable. If you don&apos;t allow the app access to your location then you must manually enter the location of the photo. The app only accesses your location at the moment you take a photo for a report.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PLEASE READ: If you want the photos that you take with this app saved to your camera roll, then allow access. If you don&apos;t, touch &quot;Don&apos;t Allow&quot;.</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
